body {
    background-color: #000;
}

.main {
    column-gap: 20px;
    width: 1440px;
    height: 1504px;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 40px;

    .title {
        border-bottom: 1px solid #fff;
        width: 1136px;
        height: 120px;
    }

    .pokemonList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 20px;

    }
    h2 {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 40px;
        position: absolute;
        top: 40px;
        left: 440px;
        right: 439px;
        bottom: 34px;
        color: #fff;
    }
    .pagination {
        width: 280px;
        height: 40px;
        font-family: var(--font-family);
        display: flex;
        justify-content: space-around;
        margin: 60px;
        .prev {
            border: 1px solid #fff;
            border-radius: 8px;
            padding: 10px;
            background: #000;
            width: 80px;
            height: 40px;
            font-weight: 400;
            font-size: 14px;
            line-height: 157%;
            text-align: center;
            color: #fff;
        }
        .count {
            border: 1px solid #fff;
            border-radius: 8px;
            padding: 10px;
            background: #000;
            width: 52px;
            height: 16px;
            font-weight: 600;
            font-size: 16px;
            line-height: 137%;
            text-align: center;
            color: #fff;
        }
        .next {
            border: 1px solid #fff;
            border-radius: 8px;
            padding: 10px;
            background: #000;
            width: 80px;
            height: 40px;
            font-weight: 400;
            font-size: 14px;
            line-height: 157%;
            text-align: center;
            color: #fff;
        }
    }
}